$color-black-0: #000 !default;
$color-black-1: #111 !default;
$color-black-2: #222 !default;

$color-grey-0: #333333 !default;
$color-grey-1: #666 !default;
$color-grey-2: #999 !default;
$color-grey-3: #CCC !default;
$color-grey-4: #E5E5E5 !default;
$color-grey-5: #F0F0F0 !default;
$color-grey-6: #F7F7F7 !default;
$color-grey-7: #FAFAFA !default;

$color-green-0: #13a06f !default;
$color-green-1: #15a46c !default;
$color-green-2: #24b880 !default;
$color-green-6: #d8f3ef !default;

$color-red-1: #e4393c !default;
$color-red-2: #ec585a !default;

$color-yellow-1: #f2b640 !default;
$color-yellow-2: #d29d3b !default;
$color-yellow-3: #ecb158 !default;
$color-yellow-5: #ffe1b0 !default;

$color-orange-1: #f08232 !default;
$color-orange-3: #f5b95a !default;

$color-background: #f2f2f2 !default;
$color-text: #333333 !default;

$color-pink-5: #d4237a !default;

$color-mix-1: #fd8a15 !default;
$color-mix-2: #00909f !default;
$color-mix-3: #50aaff !default;
$color-mix-4: #1bc461 !default;
$color-mix-5: #3ead44 !default;
$color-mix-6: #ef531a !default;
$color-mix-7: #ff6100 !default;
$color-mix-8: #73a200 !default;
$color-mix-9: #58bd6a !default;
$color-mix-10: #8dc559 !default;
